<div class="modal fade" id="kofiModal" tabindex="-1" aria-labelledby="kofiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow bg-dark">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="flex-grow-1">
                    <iframe
                    id='kofiframe'
                    src='https://ko-fi.com/thedinoking/?hidefeed=true&widget=true&embed=true&preview=true'
                    style='width:408px;padding:4px;background:'
                    class="kofi-modal"
                    height='575'
                    title='thedinoking'>
                    </iframe>
                </div>
            </div>
            <div class="modal-footer border-0">
            <a class="link-body-emphasis link-underline link-underline-opacity-0" href="https://ko-fi.com/thedinoking" target="_blank">Just take me to your page</a>
            </div>
        </div>
    </div>
</div>