<nav class="navbar navbar-anim bg-dark rounded-1 shadow my-1">
    <div class="container-fluid">
        <a class="navbar-brand navbrand" href="/">
        <img src="/images/navicon.png" title="Home" alt="Navbaricon" width="40" height="40"/>
        </a>

        <!-- Navbar page links -->
        <div class="d-flex">
            {{#if onAbout}}
                <div class="nav-item px-2">
                    
                </div>
            {{/if}}
            <div class="nav-item px-2 {{#if onAbout}}nav-link-disabled{{/if}}">
                <a class="nav-link link-about user-select-none {{#if onAbout}}disabled{{/if}}" href="/about">
                    <i class="bi-person-lines-fill d-block mx-auto mb-1" style="font-size: 1.7rem;"></i>
                    About
                </a>
            </div>
            
            <div class="nav-item px-2 {{#if onSocial}}nav-link-disabled{{/if}}">
                <a class="nav-link link-social user-select-none {{#if onSocial}}disabled{{/if}}" href="/social_media">
                    <i class="bi-person-fill-add d-block mx-auto mb-1" style="font-size: 1.7rem;"></i>
                    Follow
                </a>
            </div>
            
            <div class="nav-item px-2 {{#if onEquip}}nav-link-disabled{{/if}}">
                <a class="nav-link link-equip user-select-none {{#if onEquip}}disabled{{/if}}" href="/equipment">
                    <i class="bi-pc-display-horizontal d-block mx-auto my-1" style="font-size: 1.5rem;"></i>
                    Equipment
                </a>
            </div>
        </div>
    </div>
</nav>