<div class="modal fade" id="ytChannelsModal" tabindex="-1" aria-labelledby="ytChannelsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow bg-dark">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="align-items-center justify-content-center">
                    <div class="flex-grow-1">
                        <a class="nav-link d-inline-block link-underline link-underline-opacity-0 my-1 px-0" href="https://youtube.com/@TheDinoKingOfficial" target="_blank">
                            <img src="images/profile_pictures/Youtube_The_Dino_King_Profile.png" width="80" height="80" class="rounded-circle shadow">
                            <h2 class="modal-mini-header pb-0 mb-0 pt-2">The Dino King</h2>
                            <p class="modal-mini-subheader pt-0 mt-0">
                                Main channel I post on
                            </p>
                        </a>
                        <a class="nav-link d-inline-block link-underline link-underline-opacity-0 my-1 mx-0 px-0" href="https://youtube.com/@TheSecondDinoKing" target="_blank">
                            <img src="images/profile_pictures/Youtube_The_Dino_Prince_Profile.png" width="80" height="80" class="rounded-circle shadow">
                            <h2 class="modal-mini-header pb-0 mb-0 pt-2">The Dino Prince</h2>
                            <p class="modal-mini-subheader pt-0 mt-0">
                                Secondary channel where I post clips,<br>bts content, funny skits, animatics, etc
                            </p>
                        </a>
                        <a class="nav-link d-inline-block link-underline link-underline-opacity-0 my-1 px-0" href="https://youtube.com/@DinoKingFX" target="_blank">
                            <img src="images/profile_pictures/Youtube_Dino_Motion_Profile.png" width="80" height="80" class="rounded-circle shadow">
                            <h2 class="modal-mini-header pb-0 mb-0 pt-2">Dino Graph</h2>
                            <p class="modal-mini-subheader pb-0 mb-0">
                                Mograph channel where I post<br>vfx, animation, and such
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>