<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <title>About me</title>
</head>
<body class="d-flex h-100 text-center bg-dark text-bg-dark">

    <div class="container-fluid d-flex w-100 h-100 mx-auto flex-column">

      <!-- Navbar -->
      <nav class="navbar navbar-anim bg-dark rounded-1 shadow my-1">
        <div class="container-fluid">
          <a class="navbar-brand navbrand" href="/">
            <img src="/images/navicon.png" title="Home" alt="Navbaricon" width="40" height="40"/>
          </a>

          <div class="d-flex">
            <div class="nav-item px-2">
              <a class="nav-link link-about" href="/about">
                <i class="bi-person-lines-fill fa-lg d-block mx-auto mb-1"></i>
                About
              </a>
            </div>
            
            <div class="nav-item px-2">
              <a class="nav-link link-social" href="/social_media">
                <i class="bi-person-fill-add fa-lg d-block mx-auto mb-1"></i>
                Follow
              </a>
            </div>
            
            <div class="nav-item px-1">
              <a class="nav-link link-equip" href="/equipment">
                <i class="bi-pc-display-horizontal fa-lg d-block mx-auto mb-1"></i>
                Equipment
              </a>
            </div>
          </div>
        </div>
      </nav>

      <div class="flex-column d-flex text-center">
          <h1 class="display-6">This is my about me page</h1>
      </div>
    </div>
</body>
</html>