<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <title>Dial Up</title>
</head>
<body class="d-flex h-100 text-center text-bg-dark mb-0">
    
    <div class="container-fluid d-flex w-100 h-100 mx-auto flex-column cover">

      <!-- Navbar -->
      <nav class="navbar navbar-anim bg-dark rounded-1 shadow my-1">
        <div class="container-fluid">
          <a class="navbar-brand navbrand" href="/">
            <img src="/images/navicon.png" title="Home" alt="Navbaricon" width="40" height="40"/>
          </a>

          <!-- Navbar page links -->
          <div class="d-flex">
            <div class="nav-item px-2">
              <a class="nav-link link-about" href="/about">
                <i class="bi-person-lines-fill d-block mx-auto mb-1" style="font-size: 1.7rem;"></i>
                About
              </a>
            </div>
            
            <div class="nav-item px-2">
              <a class="nav-link link-social" href="/social_media">
                <i class="bi-person-fill-add d-block mx-auto mb-1" style="font-size: 1.7rem;"></i>
                Follow
              </a>
            </div>
            
            <div class="nav-item px-2">
              <a class="nav-link link-equip" href="/#">
                <i class="bi-pc-display-horizontal d-block mx-auto my-1" style="font-size: 1.5rem;"></i>
                Equipment
              </a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container-sm v-center">
        <div class="flex-grow-1">        
          <!-- Button Redirects -->
          <div>
            <h1 class="home subheader display-6 pb-6">Dial Phone Easter Egg</h1>
          </div>
          <div class="p-auto">
            <p class="lead">
              <span class="buttonz flex-column px-1">
                <a href="#" class="btn btn-lg btn-crimson shadow home-buttonz home-button-1">
                  <i class="bi-telephone-fill"  style="font-size: 1.7rem;"></i>
                  <span class="home-button-text-1">Call Kav</span>
                </a>
              </span>
              <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-success shadow home-buttonz home-button-2">
                  <i class="bi-phone-fill"  style="font-size: 1.7rem;"></i>
                  <span class="home-button-text-2">Call Basil</span>
                </a>
              </span>
              <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-orange shadow home-buttonz home-button-3">
                  <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                  <span class="home-button-text-3">Call Kel</span>
                </a>
              </span>
              <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-primary shadow home-buttonz home-button-3">
                  <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                  <span class="home-button-text-3">Call Genie</span>
                </a>
              </span>
            </p>
            <p class="lead">
                <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-dark shadow home-buttonz home-button-3">
                      <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Neko(Josh)</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-pink shadow home-buttonz home-button-3">
                      <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Awoken</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-dark shadow home-buttonz home-button-3">
                      <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Nevz</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-pink shadow home-buttonz home-button-3">
                      <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Amy</span>
                    </a>
                  </span>
            </p>

            <p class="lead">
                <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-danger shadow home-buttonz home-button-3">
                      <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call RedHotChiliPeppers</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-moony shadow home-buttonz home-button-3">
                      <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Chi</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-moony shadow home-buttonz home-button-3">
                      <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Luna</span>
                    </a>
                  </span>
                  <span class="buttonz px-1">
                    <a href="#" class="btn btn-lg btn-success shadow home-buttonz home-button-3">
                      <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                      <span class="home-button-text-3">Call Facility</span>
                    </a>
                  </span>
            </p>
          </div>
        </div> 
      </div>
    </div>

    <script src="js/anime.min.js"></script>
    <script src="/homepage.js"></script>
</body>
</html>