<div class="container-fluid d-flex w-100 h-100 mx-auto flex-column">

    <!-- Navbar -->
    {{> navbar }}

    <div class="flex-column d-flex text-center">
        <h1 class="display-6">This is my about me page</h1>
    </div>
</div>