<div class="container-fluid d-flex w-100 h-100 mx-auto flex-column about">

    <!-- Navbar -->
    {{> navbar }}

    <div class="flex-column d-flex text-start push-down">
        <audio src="/audio/voiceover.mp3" preload="metadata">
            <source  type="audio/mpeg">
        </audio>

        <div class="mb-5">
            <h1 class="display-6 text-center">About Me</h1>
            <h5 class="social-subheader my-0 text-center">"Who... <span class="social-subheader-italics">are</span> you?"</h5>
        </div>

        <div class="container d-inline-flex align-items-center justify-content-center">
            <div class="flex-grow-1">
                <h6 class="about-paragraph-heading">'ello, I'm the dino king<br>
                    <span class="about-name-pronouns">he/him</span>
                </h6>
                <p class="about-paragraph">
                    a 17 y/o who loves dinosaurs<br>
                    and makes various forms of content related to<br>gaming, coding, motion graphics, vfx,<br>pixel art, digital art, and animation
                    <br><span class="about-paragraph-subtext-1">(who could have guessed)</span>
                </p>
                {{!-- <img src="/images/genericpfp.png" class="rounded-2 position-absolute bottom-50 end-50" width="300px"> --}}
            </div>
        </div>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
        <p class="about-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea necessitatibus quas praesentium ducimus eum modi.
            <br>Tempore, reiciendis. Alias, placeat earum laborum itaque provident in temporibus voluptates doloremque facilis. Facilis?</p>
    </div>
    {{> footer }}
</div>

<script src="/js/about.js"></script>