<div class="container-fluid d-flex w-100 h-100 mx-auto flex-column">

    <!-- Navbar -->
    {{> navbar }}

    <div class="container-sm v-center">
    <div class="flex-grow-1">        
        <!-- Button Redirects -->
        <div>
        <h1 class="home subheader display-6 pb-6">Dial Phone Easter Egg</h1>
        </div>
        <div class="p-auto">
        <p class="lead">
            <span class="buttonz flex-column user-select-none px-1">
            <a href="#" class="btn btn-lg btn-crimson shadow home-buttonz hb1">
                <i class="bi-telephone-fill"  style="font-size: 1.7rem;"></i>
                <span class="hbt1">Call Kav</span>
            </a>
            </span>
            <span class="buttonz px-1">
            <a href="#" class="btn btn-lg btn-success shadow home-buttonz hb2">
                <i class="bi-phone-fill"  style="font-size: 1.7rem;"></i>
                <span class="hbt2">Call Basil</span>
            </a>
            </span>
            <span class="buttonz px-1">
            <a href="#" class="btn btn-lg btn-orange shadow home-buttonz hb3">
                <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                <span class="hbt3">Call Kel</span>
            </a>
            </span>
            <span class="buttonz px-1">
            <a href="#" class="btn btn-lg btn-primary shadow home-buttonz hb3">
                <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                <span class="hbt3">Call Genie</span>
            </a>
            </span>
        </p>
        <p class="lead">
            <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-dark shadow home-buttonz hb3">
                    <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Neko(Josh)</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-pink shadow home-buttonz hb3">
                    <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Awoken</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-dark shadow home-buttonz hb3">
                    <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Nevz</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-pink shadow home-buttonz hb3">
                    <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Amy</span>
                </a>
                </span>
        </p>

        <p class="lead">
            <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-danger shadow home-buttonz hb3">
                    <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call RedHotChiliPeppers</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-moony shadow home-buttonz hb3">
                    <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Chi</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-moony shadow home-buttonz hb3">
                    <i class="bi-telephone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Luna</span>
                </a>
                </span>
                <span class="buttonz px-1">
                <a href="#" class="btn btn-lg btn-success shadow home-buttonz hb3">
                    <i class="bi-phone-fill"  style="font-size: 1.5rem;"></i>
                    <span class="hbt3">Call Facility</span>
                </a>
                </span>
        </p>
        </div>
    </div> 
    </div>
</div>

{{!-- <script src="/homepage.js"></script> --}}