<div class="container-fluid d-flex w-100 h-100 mx-auto flex-column cover">

    <!-- Navbar -->
    {{!-- {{> navbar }} --}}

    <div class="container-sm v-center">
        <div class="flex-grow-1">
            <!-- Header -->
            <div>
            <h1 class="home header display-1">'ello!</h1>
            </div>

            <!-- Sub Header -->
            <div> 
            <p class="display-6 text-center">
                <span class="home subheader">I'm</span>
                <span class="home subheader">the</span>
                <span class="home subheader">dino</span>
                <span class="home subheader">king</span>
            </p>
            </div>
        
            <!-- Button Redirects -->
            <div class="p-auto">
                <p class="lead">
                    <span class="buttonz flex-column px-1">
                        <a href="about" class="btn btn-lg btn-crimson shadow home-buttonz home-button-1">
                            <i class="bi-person-lines-fill" style="font-size: 1.7rem;"></i>
                            <span class="home-button-text-1">About Me</span>
                        </a>
                    </span>
                    <span class="buttonz px-1">
                        <a href="social_media" class="btn btn-lg btn-success shadow home-buttonz home-button-2">
                            <i class="bi-person-fill-add" style="font-size: 1.7rem;"></i>
                            <span class="home-button-text-2">Follow Me</span>
                        </a>
                    </span>
                    <span class="buttonz px-1">
                        <a href="works" class="btn btn-lg btn-primary shadow home-buttonz home-button-3">
                            <i class="bi-person-vcard-fill" style="font-size: 1.7rem;"></i>
                            <span class="home-button-text-3">My Work</span>
                        </a>
                    </span>
                    <span class="buttonz px-1">
                        <a href="equipment" class="btn btn-lg btn-dark shadow home-buttonz home-button-4">
                            <i class="bi-pc-display-horizontal" style="font-size: 1.5rem;"></i>
                            <span class="home-button-text-4">My Equipment</span>
                        </a>
                    </span>
                </p>
            </div>
        </div> 
    </div>
</div>

<script src="/js/homepage.js"></script>
