<div class="container-fluid d-flex w-100 h-100 mx-auto flex-column bg-dark" data-bs-theme="dark">

    <!-- Navbar -->
    {{> navbar }}

    <div class="text-center">


        <div class="container-sm text-center align-items-center justify-content-center v-center-highest">
            <div class="flex-grow-1">
                <h1 class="social-header mb-0">My Work</h1>
                <h5 class="social-subheader my-0">Check out some of my commissioned work<br>and personal projects</h5>

                <div class="my-5">
                    <a class="icon-link icon-link-hover work-tab-hover-mograph" data-bs-toggle="collapse" data-bs-target="#collapseMotionGraphics" aria-controls="collapseMotionGraphics">
                    Mographs
                    </a>

                    <div class="collapse" id="collapseMotionGraphics">
                        <div class="card card-body border-0">
                            <hr>
                            <p class="work-body-header">Multitudes of animation and vfx I've made</p>
                            <hr>
                            <p>a bunch of different items to be collapsed into</p>
                            <p>a bunch of different items to be collapsed into</p>
                            <p>a bunch of different items to be collapsed into</p>
                            <p>a bunch of different items to be collapsed into</p>
                        </div>
                    </div>
                </div>
                
                <div class="my-5">
                    <a class="icon-link icon-link-hover work-tab-hover-coding" data-bs-toggle="collapse" data-bs-target="#collapseCodeTabs" aria-expanded="false" aria-controls="collapseCodeTabs">
                        Coding
                    </a>

                    <div class="collapse" id="collapseCodeTabs">
                        <div class="card card-body border-0">
                            <hr>
                            <p class="work-body-header">Different projects I've coded for either<br>learning or making something cool</p>
                            <hr>
                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapseWebsites" aria-expanded="false" aria-controls="collapseWebsites">
                                Websites
                            </a>
                            <div class="collapse" id="collapseWebsites">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and websites to be collapsed into</p>
                                    <p>a bunch of different items and websites to be collapsed into</p>
                                    <p>a bunch of different items and websites to be collapsed into</p>
                                    <p>a bunch of different items and websites to be collapsed into</p>
                                </div>
                            </div>

                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapseDesktopApps" aria-expanded="false" aria-controls="collapseDesktopApps">
                                Desktop applications
                            </a>
                            <div class="collapse" id="collapseDesktopApps">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and desk applications to be collapsed into</p>
                                    <p>a bunch of different items and desk applications to be collapsed into</p>
                                    <p>a bunch of different items and desk applications to be collapsed into</p>
                                    <p>a bunch of different items and desk applications to be collapsed into</p>
                                </div>
                            </div>

                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapseTerminalApps" aria-expanded="false" aria-controls="collapseTerminalApps">
                                Terminal applications
                            </a>
                            <div class="collapse" id="collapseTerminalApps">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and terminal applications to be collapsed into</p>
                                    <p>a bunch of different items and terminal applications to be collapsed into</p>
                                    <p>a bunch of different items and terminal applications to be collapsed into</p>
                                    <p>a bunch of different items and terminal applications to be collapsed into</p>
                                </div>
                            </div>

                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapseGames" aria-expanded="false" aria-controls="collapseGames">
                                Video games
                            </a>
                            <div class="collapse" id="collapseGames">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and video games to be collapsed into</p>
                                    <p>a bunch of different items and video games to be collapsed into</p>
                                    <p>a bunch of different items and video games to be collapsed into</p>
                                    <p>a bunch of different items and video games to be collapsed into</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-5">
                    <a class="icon-link icon-link-hover work-tab-hover-art" data-bs-toggle="collapse" data-bs-target="#collapseArtTabs" aria-expanded="false" aria-controls="collapseArtTabs">
                        Art
                    </a>

                    <div class="collapse" id="collapseArtTabs">
                        <div class="card card-body border-0">
                            <hr>
                            <p class="work-body-header">Various artsy stuff I've made</p>
                            <hr>
                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapsePixelArt" aria-expanded="false" aria-controls="collapsePixelArt">
                                Pixel Art
                            </a>
                            <div class="collapse" id="collapsePixelArt">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <img src="/images/art/awokendreamsskinshowcase.png" class="img-fluid" width="500"/>
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/dj daze server f1.png" class="img-fluid" width="500">
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/Me and My Diceratops In Omori rescaled.png" class="img-fluid" width="500">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <img src="/images/art/awokendreamsskinshowcase.png" class="img-fluid" width="500"/>
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/dj daze server f1.png" class="img-fluid" width="500">
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/Me and My Diceratops In Omori rescaled.png" class="img-fluid" width="500">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <img src="/images/art/awokendreamsskinshowcase.png" class="img-fluid" width="500"/>
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/dj daze server f1.png" class="img-fluid" width="500">
                                            </div>
                                            <div class="col">
                                                <img src="/images/art/Me and My Diceratops In Omori rescaled.png" class="img-fluid" width="500">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapseDrawings" aria-expanded="false" aria-controls="collapseDrawings">
                                Drawings
                            </a>
                            <div class="collapse" id="collapseDrawings">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and drawings to be collapsed into</p>
                                    <p>a bunch of different items and drawings to be collapsed into</p>
                                    <p>a bunch of different items and drawings to be collapsed into</p>
                                    <p>a bunch of different items and drawings to be collapsed into</p>
                                </div>
                            </div>

                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapse3Dimension" aria-expanded="false" aria-controls="collapse3Dimension">
                                3D Work
                            </a>
                            <div class="collapse" id="collapse3Dimension">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <p>a bunch of different items and photoshopping to be collapsed into</p>
                                    <p>a bunch of different items and photoshopping to be collapsed into</p>
                                    <p>a bunch of different items and photoshopping to be collapsed into</p>
                                    <p>a bunch of different items and photoshopping to be collapsed into</p>
                                </div>
                            </div>
                            
                            <a class="icon-link icon-link-hover work-tab-link" data-bs-toggle="collapse" data-bs-target="#collapsePhotoshop" aria-expanded="false" aria-controls="collapsePhotoshop">
                                Photoshop
                            </a>
                            <div class="collapse" id="collapsePhotoshop">
                                <hr class="my-2">
                                <div class="card card-body border-0">
                                    <div class="row">
                                        <div class="col">
                                            <img src="/images/art/Dino_Modpack_Icon_landscape.png" class="img-fluid" width="500"/>
                                        </div>
                                        <div class="col">
                                            <img src="/images/art/Doctor Who & Primeval Mashup (Photoshop Remake).png" class="img-fluid" width="500"/>
                                        </div>
                                        <div class="col">
                                            <img src="/images/art/Primeval Logo Fanart (PS Remix, Full Rebuild).png" class="img-fluid" width="500"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="/images/art/Primeval Mysterious Forest Background.png" class="img-fluid" width="500"/>
                                        </div>
                                        <div class="col">
                                            <img src="/images/art/Primeval x Dinosaur King Mashup fanart.png" class="img-fluid" width="500"/>
                                        </div>
                                        <div class="col">
                                            <img src="/images/art/Omori Playlist Cover Art Showcase v2.png" class="img-fluid" width="500"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-5">
                    <a class="icon-link icon-link-hover work-tab-hover-misc" data-bs-toggle="collapse" data-bs-target="#collapseMisc" aria-expanded="false" aria-controls="collapseMisc">
                        Misc
                    </a>

                    <div class="collapse" id="collapseMisc">
                        <div class="card card-body border-0">
                            <hr>
                            <p class="work-body-header">Other stuff I've made<br>that doesnt fit anywhere else</p>
                            <hr>
                            <p>a bunch of different items and misc to be collapsed into</p>
                            <p>a bunch of different items and misc to be collapsed into</p>
                            <p>a bunch of different items and misc to be collapsed into</p>
                            <p>a bunch of different items and misc to be collapsed into</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>